# Set the transport mode for the MCP server.
# Options: 'stdio' (default) or 'http-session or http-stateless'.
MCP_TRANSPORT=stdio

# The port the Express server will listen on (only used in 'http-session' or http-stateless mode).
PORT=3000

# Add any API keys or other secrets your API needs here.
# Access them in your tool handlers using process.env.API_KEY
# API_KEY=your_secret_key